root = true

[*.cs]

indent_style = tab
end_of_line = lf
insert_final_newline = false
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = none