name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        platform: [win-x86, win-x64, linux-x64, osx-x64]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@main
        with:
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@main
        with:
          dotnet-version: 5.0.x

      - name: Build
        run: dotnet publish -p:IncludeNativeLibrariesForSelfExtract=true -p:DebugType=None -c Release -r ${{matrix.platform}}

      - name: Copy LICENSE
        run: cp LICENSE UnityAssetReplacer/bin/Release/net5.0/${{matrix.platform}}/publish/LICENSE

      - name: Copy README.md
        run: cp README.md UnityAssetReplacer/bin/Release/net5.0/${{matrix.platform}}/publish/README.md

      - name: Upload Package
        uses: actions/upload-artifact@main
        with:
          name: UnityAssetReplacer-${{matrix.platform}}-${{github.sha}}.zip
          path: UnityAssetReplacer/bin/Release/net5.0/${{matrix.platform}}/publish/
          if-no-files-found: error
